#systemMenu {
    margin: auto;
    font-size: 16px;
    width: 1024px;
    height: 768px;
	background: url(Images/SystemMenuBg.jpg);
    border: 1px solid #DDD;
	position: relative;
}

#systemList
{
	padding-top: 373px;
	padding-left: 70px;
}

#systemList li
{
	float: left;
	margin-bottom: 9px;
}

.systemButton
{
	display: inline-block;
	width: 267px;
	height: 45px;
	margin-right: 50px;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.systemButton:hover
{
	background-position: 0 -44px;
}
#topBox
{
	position: absolute;
	top: 220px;
}
#systemAnnounce
{
	float: left;
	width: 703px;
	border: 1px solid #CFDD7C;
	margin-left: 76px;
	font-family: "微軟正黑體",sans-serif;
	background: #f4f8e7;
}

#systemAnnounce .title
{
	padding-left: 5px;
	background:  #CFDD7C;
	font-size: 14px;
}

#systemAnnounce .content
{
	height: 132px;
	overflow-y: scroll;
	font-size: 13px;
}

#systemAnnounce .content .news
{
	color: #0088cc;
	display: block;
	padding: 3px 5px;
}

#systemOtherMenu
{
	float: left;
	width: 185px;
	margin-left: 25px;
	padding-top: 5px;
}
#systemOtherMenu .item
{
	display: block;
	height: 27px;
	line-height: 27px;
	margin-bottom: 11px;
	font-weight: bold;
	font-family: "微軟正黑體",sans-serif;
	background: url(Images/Icons/orangeItem.png) no-repeat 0px 3px;
	text-indent: 28px;
	color: #205e08;
}

#footer
{
	text-align: center;
	padding: 5px 0 0 20px;
}