html, body
{
	min-width: 100%;
	width: auto;
	height:100%;
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 20px;
    color: #333;
    background-image: url(Images/LoginBg.jpg);
}

body
{
    background-image: url(Images/LoginBg.jpg);
    /*background: url(Images/background.png);*/
    margin: 0;
}

.baseForm
{
	min-width: 100%;
	width: auto;
	height:100%;
    margin: 0;
}
th
{
    font-weight: normal;
}
ul
{
    padding-left: 0;
    list-style: none;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
    background: #ffffff;
    box-shadow: 0px 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px;
}

.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.clear { clear: both; }

a {
  color: #0088cc;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

select, label, input[type="radio"], input[type="checkbox"]
{
	cursor: pointer;
    font-family: '微軟正黑體',sans-serif;
}

input[type="text"],
input[type="password"]
{
    padding: 1px 2px;
    background-color: #FEFEFE;
}


/* ------ GridView -----*/
.grv
{
    width: 100%;
    font-family: '微軟正黑體',sans-serif;
    background: #ffffff;
	box-shadow: 1px 3px 2px #aab2bd;
	padding-top: 15px;
	padding-bottom: 5px;
	/*margin-bottom: 8px;*/
}
.grvHeaderRow > th
{
    background-color: white;
    padding: 2px 4px;   
    vertical-align: middle;
    height: 30px;
}
.grvHeaderRow > th > a:hover{
    color: #68DFF0;
}
.grvHeaderRow > th > a{
    color: #797979;
}
.grvFooterRow > td
{
    padding: 2px 4px;   
    vertical-align: middle;
    height: 25px;
}
.grvPageRow
{
    padding: 2px 4px;   
    vertical-align: middle;
    height: 30px;
	line-height: 25px;
    background-color: white;
    font-family: '微軟正黑體',sans-serif;
    box-shadow: 1px 3px 2px #aab2bd;
}
.grvPageRow.empty
{
	display: none;
}
.grvPageRow .prev
{
	padding: 0 5px;
}
.grvPageRow .next
{
	padding: 0 5px;
}
.grvPageRow .disable, .grvPageRow .disable:hover
{
	color: #AAA;
	text-decoration: none;
}
.grvPageRow .pageIndex.select
{
	font-weight: bold;
	color: #797979;
}
.grvPageRow .pageIndex
{
	padding: 5px;
}
.grvDataRow > td
{
    padding: 2px 4px;  
    vertical-align: middle;
    height: 25px;
	line-height: 25px;
}

.grvHeaderRow
{
    background-color: #FFFFFF;
    color: #151515;
}

.grvFooterRow
{
    text-align: center;
    background-color: #68dff0;
    color: #797979;
}

.grvDataRow
{
    color: #797979;
}

.grvDataRow > th
{
    text-align: center;
    background-color: #CFDD7C;
    color: #151515;
    border: 1px solid #ccc;
    padding: 2px 4px;   
    vertical-align: middle;
    height: 25px;
}

.grvDataRow.odd
{
    background-color: rgb(230, 253, 255);
}

.grvDataRow.even
{
    background-color: #FFFFFF;
}

.grvDataRow.odd:hover
{
    background-color: #f1efee;
}

.grvDataRow.even:hover
{
    background-color: #f1efee;
}

.grvDataRow.footer, 
.grvDataRow.edit,
.grvDataRow.select,
.grvDataRow.select:hover,
.grvDataRow.odd.select:hover,
.grvDataRow.even.select:hover
{
	background-color: #FFFEEF;
	/*background-color: #f4faaf;*/
}

.grvEmptyRow
{
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 2px 4px;  
    vertical-align: middle;
    height: 25px;
	line-height: 25px;
}
.grvEmptyRow td
{
    border: 1px solid #ccc;
    padding: 2px 4px;  
    vertical-align: middle;
    text-align: center;
}
.rowTrigger
{
	cursor: pointer;
}
.grvDataRow.edit .rowTrigger
{
	cursor: default;
}

/* ----- FormView ----- */
.fv
{
    box-shadow:none;
    background-color:transparent;
}
.fvHeaderRow
{
    background-color: #68dff0;
    border: 1px solid #999;
    height: 35px;
	line-height: 35px;
}
.fvRow
{
    height: 35px;
}
.fvRow > th
{
    border: 1px solid #999;
    padding: 2px 4px;   
    vertical-align: middle;
    background-color: #68dff0;
	width: 150px;
}
.fvRow > td
{
    border: 1px solid #999;
    padding: 2px 4px;  
    vertical-align: middle;
    background-color: #f7fae2;
}
.fvRow td.gray
{
    background-color: #C9C9C9;
}

/* ----- 按鈕 ----- */
.movedown
{
    position:absolute;
    opacity:0;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.btn-ms 
{
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btnGrv
{
    width: 16px;
    height: 16px;
    border: 0px solid #FFFFFF;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
}
.btnGrv.edit
{
    background: url(Images/Icons/edit.gif);
}
.btnGrv.update
{
    background: url(Images/Icons/save.png);
}
.btnGrv.cancel
{
    background: url(Images/Icons/cancel.png);
}
.btnGrv.add
{
    background: url(Images/Icons/add.png);
}
.btnGrv.delete
{
    background: url(Images/Icons/delete.png);
}
.btnGrv.set
{
    background: url(Images/Icons/config.png);
}
.btnGrv.search
{
    background: url(Images/Icons/search.gif);
}
.btnGrv.select
{
    background: url(Images/Icons/yes.png);
}
.btnGrv.refresh
{
	background: url(Images/Icons/refresh.gif);
}
.btnGrv.map
{
	background: url(Images/Icons/map.png);
}
.btnGrv.user
{
	background: url(Images/Icons/user.png);
}
.btnGrv.mapPoint 
{
    background: url(Images/Icons/MapPoint.png);
}
.btnGrv.airliner 
{
    background: url(Images/Icons/airliner.gif);
}
.btnGrv.question 
{
    background: url(Images/Icons/question.png);
}
.btnGrv.tree 
{
    background: url(Images/Icons/tree.png);
}

/* Popup Window */
.popupWindowOverlay
{
    background-color: #000;
    opacity: 0.25;
    filter: alpha(opacity = 25);
}
.popupWindow
{
    width: 640px;
    border: 1px solid #ccc;
    -webkit-box-shadow: rgb(68, 68, 17) 0px 3px 29px;
    -moz-box-shadow: rgb(68, 68, 17) 0px 3px 29px;
    box-shadow: rgb(68, 68, 17) 0px 3px 29px;
    overflow: hidden;
    font-family: '微軟正黑體',sans-serif;
}
.popupWindowHeader
{
    height: 29px;
    line-height: 29px;
    padding-left: 7px;
    background-color: #68dff0;
    border-bottom: 1px solid #CCC;
    color: #FFFFFF;
}
.popupWindowHeader .open
{
    display: none;
}
.popupWindowHeader .close
{
    position: absolute;
    right: 7px;
    top: 7px;
    text-indent:-9999px;
    background: url(Images/Icons/close.png);
    height: 16px;
    width: 16px;
    border:none;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}
.popupWindowContent
{
	padding: 10px 10px;
	overflow: auto;
    background-color: #F2F2F2;
}

/* highlight文字 */
.highlight
{
    color: #0088CC;
}

/* 訊息提示 */
.loadingOverlay
{
    position: fixed; 
    top: 0; 
    width: 100%;
    height: 100%;
    z-index: 300000;
    text-align: center;
	background:rgb(255,255,255);
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	/* for ie */
	cursor: progress; 
}
.loadingMsgWrapper
{
    position: fixed; 
    top: 0; 
    width: 100%;
    height: 100%;
    z-index: 300001;
    text-align: center;
    background: rgba(255,255,255,0);
	cursor: progress; 
}
.loadingMsg
{
    z-index: 300002;
    border: 1px solid #ccc;
    background-color: #FFF1C2;
    padding: 6px 9px;
	cursor: progress; 
}

/* ---------- 查詢操作區塊 ---------- */
.opBox
{
	line-height: 30px;
    margin-bottom: 8px;
	margin-left: 5px;
}
table.opbox > tbody > tr > td
{
    height: 30px;
    line-height: 30px;
}

/* 必填欄位星號 */
.start { color: #cb0000; }

/* 提醒文字 */
.info
{
    padding: 2px 4px;
	color: #444;
}

/* 警告、錯誤文字 */
.alert
{
	color: #cb0000;
}

/* 設定提示字的文字顏色 */
::-webkit-input-placeholder {
	color: #a9a9a9;
}
:-moz-placeholder {
	color: #a9a9a9;
}
.placeholder {
	color: #a9a9a9;
}

/* Default 按鈕 style*/
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button
{
    padding: 2px 8px;
	cursor: pointer;
}

/*重新整理按鈕*/
.refeshBtn
{
	background: url(Images/Icons/refresh.gif); 
	width: 16px; 
	height: 16px; 
	vertical-align:middle; 
	display: inline-block; 
	cursor: pointer
}

/*強制文字不換行*/
.nowrap
{
	white-space: nowrap;
}

/*游標顯示為pointer樣式*/
.pointer
{
	cursor: pointer;
}

/*地標圖示*/
.mapPoint
{
	background: url(Images/Icons/MapPoint.png);
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}


.hide {
    display: none;
}




.NumberLimit
{
    ime-mode: disabled;
    -moz-ime-mode: disabled;
    -ms-ime-mode: disabled;
    -webkit-ime-mode: disabled;
}

.QueryTable {
    margin-bottom: 15px;
}





