/* ---------- Wrapper ---------- */
#mainWrapper
{
    min-width: 100%;
    width: auto;
    margin: 0 auto;
	background-color: #FFF;
	display: inline-block;
}

/* ---------- Header ---------- */
#mainHeader
{
    height: 60px;
    background: #ECECE4 no-repeat left;
    border-bottom: 1px solid #c9aa5f;
    text-indent: -999px;
    margin-bottom: 0px;
}
#mainHeaderSysName
{
    font-size: 24.5px;
    font-weight: bold;
	display: none;
}

/* ---------- SubWrapper ---------- */
#mainSubWrapper
{
    zoom:1;
    /*overflow: hidden;*/
    position:relative;
}
#mainSubWrapper>div
{
    background: url(Images/mainMenuExtendBg.jpg) repeat-y;
	display: table;
}
#mainSubWrapper > div.fullview
{
	background: none;
    width:100%;
}
/* ---------- Menu ---------- */
#mainMenuOp
{
	float: left;
	position: absolute;
	left: 5px;
	width: 40px;
	height: 32px;
	display: inline-block;
    background: url(Images/ic_menu_black_24dp.png);
    margin-top: 12px;
    top:0px;
}
#mainMenuOp:hover
{
}
#mainMenuOp.fullview {
    left: 5px;
    background: url(Images/ic_menu_black_24dp.png);
}
#mainMenuOp.fullview:hover
{
    background-position: 0px top;
}
#mainMenu
{
    /*float: left;*/
    width: 185px;
	position: relative;
    background: url(Images/mainMenuBg.jpg) #424a5d repeat-y;
    min-height: 443px;
    font-family: '微軟正黑體',sans-serif;
	display: table-cell;
	vertical-align: top;
}
#mainMenu>div
{
    padding: 5px;
}
#mainMenu.fullview
{
	/*position: absolute;*/
	display: none;
	width: 0px;
	overflow: hidden;
}
#mainLoginInfo
{
    margin-top: 12px;
    margin-bottom: 7px;
    color: #f2f2f2;
    padding-left: 6px;
    font-size: 13px;
    margin-left: 18px;
}
#mainMenuBottomOp
{
    text-align: center;
    margin-top: 10px;
}
#mainMenuBottomOp a
{
    color: #f2f2f2;
}
.mainMenuModule
{
    margin: 0;
}
.mainMenuModule>li
{
    margin-bottom: 5px;
}
.mainMenuModule>li>a
{
    display: block;
    position: relative;
    left: -3px;
    width: 182px;
    height: 41px;
    font-size: 14px;
    margin-bottom: 3px;
    color: #aeb2b7; 
}
.mainMenuModule>li>a:hover
{
    text-decoration: none;
    color: #FFF;
    background: #68dff0;
    transition: all 0.3s ease;
}
.mainMenuModule>li>a.active
{
    background: #68dff0;
    color:#FFF;
    font-weight: bold;
}
.mainMenuModule>li>a>div
{
	width: 130px;
    line-height: 38px;
    padding-left: 40px;
    font-weight:bold;
    opacity: 0.95;
    filter: alpha(opacity = 95);
}
.mainMenuModule>li>a>div.longText
{
	line-height: 14px;
	padding-top: 6px;
}
.mainMenuProcess
{
    margin-left: 3px;
    padding-top: 1px;
}
.mainMenuProcess > li
{
    position: relative;
    min-height: 31px;
}
.mainMenuProcess>li>a
{
    color:#aeb2b7;
    width: 169px;
    min-height: 26px;
    display: block;
}
.mainMenuProcess>li>a:hover
{
    /*text-decoration: none;*/
    color: white;
    transition: all 0.3s ease;
}
.mainMenuProcess>li>a>div
{
    padding: 3px 0 3px 50px;
}
.mainMenuProcess > li > a.active
{
    color:#68dff0;
    font-weight: bold;
}

/* ---------- Content ---------- */
#mainContent
{
    /*float: right;*/
    width: 100%;
    /*margin-left: -196px;*/
    background-color: #F2F2F2;
	display: table-cell;
	vertical-align: top;
}
#mainContent.fullview
{
    margin-left: 0px;
    background: none;
}

#mainContentInner
{
    /*position: relative;*/
    /*margin-left: 187px;*/
    padding: 0 9px;
}
#mainContentInner.fullview
{
    margin-left: 0;
}

#processHeader
{
    font-family: '微軟正黑體',sans-serif;
    height: 25px;
    padding-left: 10px;
    margin-left: -4px;
    margin-top: 7px;
    margin-bottom: 15px;
    line-height: 40px;
    font-size: 24px;
}

#processContentSubFunction
{
    min-height: 40px;
    line-height: 40px;
    margin-top: 8px;
}

#processContentSubFunctionInner 
{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 2px #aab2bd;
    box-sizing: border-box;
}

#processContentSubFunctionInner.stick
{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 0;
	text-align: center;
    -webkit-box-shadow: #888 0px 3px 20px;
    -moz-box-shadow: #888 0px 3px 20px;
    box-shadow: #888 0px 3px 20px;
}

#processContentSubFunctionInner>div>input
{
    display: inline-block;
    text-align: center;
    font-family: 微軟正黑體,sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #428bca;
    border-color: #357ebd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #6F6F6F;
    margin: 0px 5px;
    padding: 6px 12px;
    margin-bottom: 0px;
    cursor:pointer;
    background-image: none;
    border: 1px solid transparent;
}

#processContentSubFunctionInner>div>input:hover
{
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}

#processContent
{
    position: relative;
    /*min-height: 485px;*/
	min-height: 700px;
	padding: 8px 2px 15px 2px;
	width: auto;
}
#processHelpLink
{
	font-size: 13px;
	margin-left: 5px;
}

/* ---------- Footer ---------- */
#mainFooter
{
    height: 70px;
    background: url(Images/mainMenuExtendBg.jpg);
    margin-top: 0px;
	position: relative;
}
#mainFooter>div
{
    height: 70px;
	padding: 5px 0 0 20px;
}

#mainFooter > div > p
{
	font-size: 12px;
	font-family: 微軟正黑體,sans-serif;
	line-height: 7px;
	color: #103a06;
	letter-spacing: .1em;
}

#mainFooter > div .footerRBtitle
{
	position: absolute;
	bottom: 0px;
	right: 3px;
	font-size: 12px;
	line-height: 12px;
	color: #f4f8e7;
}

/* ITC UI */
.ITC-combobox-wrapper {
    position: relative;
    border: 1px solid #aaaaaa;
    background: #FFF;
}

input.ITC-combobox {
    outline:  none;
    border: none;
    margin-left: 2px;
    height: 19px;
}

ul.ITC-combobox-ul {
    position: absolute;
	z-index: 100;
	list-style: none;
	margin: 0px;
	padding: 0px;
    display:none;
    left: -1px;
	font-size: 13px;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
}

ul.ITC-combobox-ul li {
    background: #FFF;
    cursor: default;
    line-height: 22px;
    padding-left: 3px;
}

ul.ITC-combobox-ul li:hover {
	background: #EEE;
}