<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="StateServer"
      stateConnectionString="tcpip=localhost:42424"
      cookieless="false"
      timeout="20"/>
    <!--頁面預設值-->
    <pages theme="Default" />
  </system.web>
  <connectionStrings>
    <!--主要資料庫連線字串-->
    <add name="DbConn" connectionString="Data Source=140.134.23.68;Initial Catalog=signup;User ID=SignupUser;Password=Aa123456;Integrated Security=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <!--起始頁面-->
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!--網站根目錄下禁止瀏覽的資料夾、檔案-->
        <hiddenSegments>
          <add segment="Log" />
          <add segment="Template" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
